body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(21, 21, 21);
    margin: 0 auto;
    width: 600px;
    border: 3px solid rgb(0, 162, 255);
    padding: 0 2em 1em;
}
h1 {
    color: rgb(0, 162, 255);
}
div {
    margin-bottom: 1em;
}
label {
    display: inline-block;
    width: 11em;
    text-align: right;
}
input {
    margin-left: 1em;
}
span {
    color: red;
}
#total {
    background-color: rgb(127, 208, 255);
    color: black;
}